header{background:linear-gradient(red,blue,yellow,green);
}

	

.img-2{	display:flex;
		flex-direction:flex-end;
		align-content: center;
		align-items: center;
		 width: 400px;
		opacity: 15%;
		text-align: center; }

h1{display: flex;
	justify-content:center;
	font-size: 100px;
	margin: 0px 2px 40px;
	font-weight: bold;

}


.historia{ 

}

.titulo-texto{text-align: center;
				margin: -206px 10 0;
				font-weight: bold;
				font-family:arial;
}

.texto{padding: 0 444px 0;
		font-family: italic;
		font-weight: bold;

}

	

p{
	font-family: arial;
			font-size:20;
			color:black;
}

.loja-img{	display: flex;
			align-items:flex-start;
			width:430px;
			text-align: right;
}


/*flexbox*/

.titulo-itens{font-size: 50px;
				font-weight: bold;
				color: blue;
				margin:7% 0 0;
}


				




.itens{display: flex;
		align-items: baseline;
		font-size:30px;
		font-weight: bold;
		color:black;
		margin: 130px 0 0;



}

.img-itens{width: 200px;
			opacity:80%;
			

}

a{text-decoration: none;

}

a:hover{ color:blue;
		opacity:40%;
		font-size:40px;
		font-style:italic;




}

h3{font-size:50px;
	font-weight: bold;
	font-family: arial;
	 }

/*flexbox -end*/


.mapa{margin: 5% 0 0;

}

.game{text-align: center;}

footer{display:flex;
		justify-content: center;

}

.rodape{width:150px;
		opacity:40%;
		
}
	

